body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display:flex;
    flex-direction: column;
}

.header, .images {
    width: 50rem;
    margin: 0 auto;
    display: block;
}

.header {
    text-align: center;
    opacity: 0.7;
}

img {
    min-width: 1px;
    max-width: 100%;
}

.vbox, .hbox {
    display: flex;
}

.vbox {
    flex-direction: column;
    width: 100%;
}

.hbox {
    flex-direction: row;
}